<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.video.fami" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>video</name>
    <js-module name="video" src="www/video.js">
        <clobbers target="video" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="video">
                <param name="ios-package" value="video" />
            </feature>
        </config-file>
        <source-file src="src/ios/video.m" />
        
        <header-file src="src/ios/RootViewController.h"/>
        <source-file src="src/ios/RootViewController.m" />


        <framework src="AVFoundation.framework" weak="true" />
        <framework src="MediaPlayer.framework" weak="true" />
        
    </platform>
</plugin>